.profile-form {
    @include flex-col;
    // border: 1px dashed red;
}

.profile-form__title {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 3rem;
    padding-left: 9.5%;
    cursor: default;
}

.profile-form__fields {
    padding-left: 9.5%;
    padding-bottom: 5rem;
    @include flex-col;
    gap: 1.5rem;
}

.profile-form__label {
    font-size: 1rem;
    color: $text-light-color;
    cursor: url('../images/cursor.svg') 2 2, default;
    @include flex-col;
    gap: 0.75rem;
}

.profile-form__button-container {
    width: 100%;
    border-top: 1px solid $border-color;
    padding-left: 9.5%;
    padding-top: 5rem;
}

