<form class="profile-form">
    <div class="profile-form__title">Данные профиля</div>
    <div class="profile-form__fields">
        <label class="profile-form__label">
            ФИО
            <input type="text" class="input"/>
        </label>
        <label class="profile-form__label">
            Почта
            <input type="email" class="input"/>
        </label>
        <label for="tel" class="profile-form__label">
            Телефон
            <input type="tel" name="tel" class="input"/>
        </label>
    </div>
    <div class="profile-form__button-container">
        <button class="button" type="submit">Сохранить изменения</button>
    </div>
</form>