<form class="profile-form">
    <div class="profile-form__title">Данные профиля</div>
    <div class="profile-form__fields">
        <label class="profile-form__label">
            ФИО
            <!--=include input_text.html -->
        </label>
        <label class="profile-form__label">
            Почта
            <!--=include input_email.html -->
        </label>
        <label for="tel" class="profile-form__label">
            Телефон
            <!--=include input_tel.html -->
        </label>
    </div>
    <div class="profile-form__button-container">
        <!--=include button.html -->
    </div>
</form>