<div class="card card_3">
    <div class="card__image">
        <div class="card__tag">Sale</div>
        <div class="card__favorite"></div>
    </div>
    <div class="card__description">
        <div class="card__description-title">Brown to Blonde</div>
        <div class="card__description-product">Пигмент для бровей</div>
        <div class="card__description-volume">12 ml.</div>
        <div class="card__description-price">
            <div class="card__description-price_new">1 500 ₽</div>
            <div class="card__description-price_old">3 000 ₽</div>
        </div>
    </div>
</div>