<header class="header">
    <!--=include logo.html -->
    <div class="header__content">
        <div class="header__phone">
            <div class="header__phone-img"></div>
            <div class="header__phone-value">8 (800) 555-35-35</div>
        </div>
        <div class="header__personal">
            <div class="header__favorite-icon">
                <div class="header__favorite-count"></div>
            </div>
            <div class="header__account-icon"></div>
        </div>
        <!--=include button_burger.html -->
        <!--=include burger-menu.html -->
    </div>
</header>