// Typography Rules

@font-face {
    font-family: 'Roboto-Regular';
    src: url("../fonts/Roboto/Roboto-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: 'Roboto-Medium';
    src: url("../fonts/Roboto/Roboto-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: 'Times-New-Roman';
    src: url('../fonts/Times-New-Roman/timesnewromanpsmt.ttf');
    font-weight: 400;
}

