// colors:
$bg-color-basic: rgb(255, 255, 255);
$bg-сolor-minor: rgb(247, 247, 247);
$primary-color: rgb(208, 188, 122);
$primary-color-light: rgba($primary-color, 0.5);
$secondary-color: rgb(33, 36, 46);

$text-dark-color: $secondary-color;
$text-light-color: rgba($secondary-color, 0.4);
$border-color: rgb(235, 235, 235);

// break points:
$tablet: 1279px;
$mobal-large: 767px;
$mobal-medium: 560px;
