// colors:
$bg-color-basic: white;
$bg-сolor-minor: #F7F7F7;
$primary-color: rgb(208, 188, 122);
$primary-color-active: rgba(208, 188, 122, 0.5);
$secondary-color: rgb(33, 36, 46);

$text-dark-color: $secondary-color;
$text-light-color: rgba(33, 36, 46, 0.4);
